{{#in-element this.modalPortalMediator.portalTarget}}
  <dialog
    ...attributes
    {{show-modal}}
    {{on "cancel" @manager.cancel}}
    {{! template-lint-disable no-invalid-interactive }}
    {{on "click" this.onOutsideClick}}
  >
    <div>{{yield @manager}}</div>
  </dialog>
{{/in-element}}
