dl {
  display: inline-grid;
  grid-template-columns: auto auto;
  gap: 0 1rem;
}

dd {
  font-family: monospace;
  margin: 0;
}

dialog {
  border: thick solid black;
  border-radius: 12px;
  box-shadow: 6px 6px 6px;
}

dialog header,
dialog footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  padding: 0;
}

dialog header > * {
  margin-top: 0;
}

dialog::backdrop {
  opacity: 0.6;
  background-color: black;
}

button {
  border: thin solid black;
  background-color: gainsboro;
}
button.primary {
  background-color: lightblue;
}
button.danger {
  background-color: salmon;
}

.button-group {
  display: flex;
  gap: 1rem;
}
